@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
  max-width: 600px;
  margin: 0 auto;
  padding: 5vw;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.header {
    font-size: 32px;
    line-height: 32px;
    color: rgba(33, 33, 33, 0.7);
    padding-bottom: 16px;
    padding-top: 16px;
}

.table {
    margin-top: 34px;
    margin-bottom: 34px;
    width: 450px;
    padding: 16px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px 0 rgba(0, 0, 0, .20);
}

.table-row {
    display: flex;
    flex-direction: row;
    width: 450px;
}

.cell {
    border: 1px solid #eeeeee;
    padding: 8px;
    font-size: 16px;
}

.index {
    width: 50px;
}

.name {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.delete {
    width: 100px;
}

material-button.blue {
  background-color: #2196F3;
  color: white;
}
